<configuration>
<!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="rssSmtpGroup">
      <section 
        name="rssSmtp" 
        type="rss2smtp.RssSmtpSection" 
        allowLocation="true" 
        allowDefinition="Everywhere"
      />
    </sectionGroup>
      <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>

  <!-- Configuration section settings area. -->
	
	<rssSmtpGroup>
		<rssSmtp 
				From="kill@all.humans"
				To="bobrofon1@ya.ru"
				Subject="rss"
				Host="smtp.gmail.com"
				Port="587"
				User="rssreaderbot"
				Pass="ghfj5647"
				EnableSsl="true"
				Rss="https://api.twitter.com/1/statuses/user_timeline.rss?screen_name=AnotherOlolo">
		</rssSmtp>
	</rssSmtpGroup>

</configuration>
